services:
  seat-adjuster:
    build:
      context: .
      dockerfile: Dockerfile.ci
    # Force the environment variables here to be 100% sure
    environment:
      - SDV_MQTT_ADDRESS=mosquitto:1883
      - MQTT_BROKER_HOST=mosquitto
      - MQTT_BROKER_PORT=1883
      - VEHICLEDATABROKER_ADDR=kuksa-databroker:55555
      - SDV_VEHICLEDATABROKER_ADDRESS=kuksa-databroker:55555